<div class="uk-section uk-padding-remove-vertical in-slideshow-features uk-visible@m">
    <div class="uk-container">
        <ul class="uk-grid uk-child-width-1-5@m uk-text-center" data-uk-grid>
            <li>
                <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-ticker-1.svg" alt="ticker-image" data-width data-height data-uk-img>
                <span class="uk-label uk-label-success uk-margin-left"><i class="fas fa-caret-up"></i>1,740.05</span>
            </li>
            <li>
                <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-ticker-2.svg" alt="ticker-image" data-width data-height data-uk-img>
                <span class="uk-label uk-label-success uk-margin-left"><i class="fas fa-caret-up"></i>217.90</span>
            </li>
            <li>
                <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-ticker-3.svg" alt="ticker-image" data-width data-height data-uk-img>
                <span class="uk-label uk-label-danger uk-margin-left"><i class="fas fa-caret-down"></i>270.97</span>
            </li>
            <li>
                <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-ticker-4.svg" alt="ticker-image" data-width data-height data-uk-img>
                <span class="uk-label uk-label-success uk-margin-left"><i class="fas fa-caret-up"></i>3,218.51</span>
            </li>
            <li>
                <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-ticker-5.svg" alt="ticker-image" data-width data-height data-uk-img>
                <span class="uk-label uk-label-danger uk-margin-left"><i class="fas fa-caret-down"></i>735.11</span>
            </li>
        </ul>
    </div>
</div>
