<!-- section content begin -->
<div class="uk-section in-liquid-11">
    <div class="uk-container">
        <div class="uk-grid-large uk-grid-divider uk-child-width-1-2@m" data-uk-grid>
            <div>
                <div class="uk-child-width-1-2@m uk-flex uk-flex-bottom" data-uk-grid>
                    <div>
                        <h2><span class="in-highlight">New</span><br>Traders.</h2>
                        <p>Quis autem vel eum iure reprehenderit qui in voluptate veli esse quam nihil conseqa molestiae ratione</p>
                    </div>
                    <div>
                        <ul class="uk-list uk-list-bullet in-list-check uk-margin-medium-left">
                            <li><a href="#">Webinars</a></li>
                            <li><a href="#">Seminars</a></li>
                            <li><a href="#">Financial events</a></li>
                            <li><a href="#">Forex calendars</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-child-width-1-2@m uk-flex uk-flex-bottom" data-uk-grid>
                    <div>
                        <h2><span class="in-highlight">Experienced</span><br>Traders.</h2>
                        <p>Quis autem vel eum iure reprehenderit qui in voluptate veli esse quam nihil conseqa molestiae ratione</p>
                    </div>
                    <div>
                        <ul class="uk-list uk-list-bullet in-list-check uk-margin-medium-left">
                            <li><a href="#">Trading strategis</a></li>
                            <li><a href="#">Metatrader 5</a></li>
                            <li><a href="#">Trading Psychology</a></li>
                            <li><a href="#">Market News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-5-6@m uk-margin-medium-top">
                <div class="uk-grid-divider" data-uk-grid>
                    <div class="uk-width-1-5@m uk-flex uk-flex-middle">
                        <h6 class="uk-text-muted">Featured on</h6>
                    </div>
                    <div class="uk-width-expand@m">
                        <div class="uk-grid-medium uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center in-client-logo-3" data-uk-grid>
                            <div class="uk-tile uk-tile-default">
                                <img class="uk-margin-remove" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-media-1.svg" alt="client-logo" width="167" height="55" data-uk-img>
                            </div>
                            <div class="uk-tile uk-tile-default">
                                <img class="uk-margin-remove" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-media-2.svg" alt="client-logo" width="167" height="55" data-uk-img>
                            </div>
                            <div class="uk-tile uk-tile-default">
                                <img class="uk-margin-remove" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-media-3.svg" alt="client-logo" width="167" height="55" data-uk-img>
                            </div>
                            <div class="uk-tile uk-tile-default">
                                <img class="uk-margin-remove" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-media-4.svg" alt="client-logo" width="167" height="55" data-uk-img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
