<!-- section content begin -->
<div class="uk-section uk-section-secondary in-liquid-10">
    <div class="uk-container uk-light">
        <div class="uk-grid-medium uk-child-width-1-4@m uk-flex uk-flex-middle" data-uk-grid>
            <div>
                <h2>Trade types</h2>
                <p class="uk-text-lead">Explore different trade types to trade on your preferred market.</p>
                <a class="uk-button uk-button-default uk-border-rounded uk-margin-top" href="#">Start trading<i class="fas fa-angle-right uk-margin-small-left"></i></a>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body uk-border-rounded uk-text-center">
                    <img class="uk-margin-small-bottom" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-16.svg" alt="wave-award" width="72" height="72" data-uk-img>
                    <h3 class="uk-margin-top">Margin trading</h3>
                    <p>Excepteur sint cupidatat non proident sunt in culpa quina anim officia</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body uk-border-rounded uk-text-center">
                    <img class="uk-margin-small-bottom" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-17.svg" alt="wave-award" width="72" height="72" data-uk-img>
                    <h3 class="uk-margin-top">Options</h3>
                    <p>Excepteur sint cupidatat non proident sunt in culpa quina anim officia</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body uk-border-rounded uk-text-center">
                    <img class="uk-margin-small-bottom" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-18.svg" alt="wave-award" width="72" height="72" data-uk-img>
                    <h3 class="uk-margin-top">Multipliers</h3>
                    <p>Excepteur sint cupidatat non proident sunt in culpa quina anim officia</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
