<!-- section content begin -->
<div class="uk-section in-liquid-4">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-middle">
            <div class="uk-width-1-2@m">
                <h2>Stay ahead of the curved.</h2>
            </div>
            <div class="uk-width-1-2@m uk-visible@m">
                <a class="uk-button uk-button-text uk-align-right@m" href="#">Show all<i class="fas fa-angle-right uk-margin-small-left"></i></a>
            </div>
        </div>
        <div class="uk-grid uk-child-width-1-2@s uk-child-width-1-3@m in-blog-4" data-uk-grid>
            <div class="uk-flex uk-flex-left">
                <div class="in-liquid-category">
                    <p class="uk-text-small uk-text-uppercase"><span>News</span></p>
                </div>
                <div>
                    <article class="uk-article">
                        <h5 class="uk-margin-remove-bottom">
                            <a href="#">Wall Street cautious on 'frothy' stocks, warn bitcoin bubble</a>
                        </h5>
                        <p class="uk-text-small uk-text-muted uk-margin-top">
                            By <a href="#">Reuters</a>
                            <span class="uk-margin-small-left uk-margin-small-right">•</span>
                            Jan 8, 2021
                        </p>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit ...</p>
                        <a class="uk-button uk-button-text uk-margin-top" href="#">Read more<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                    </article>
                </div>
            </div>
            <div class="uk-flex uk-flex-left">
                <div class="in-liquid-category">
                    <p class="uk-text-small uk-text-uppercase"><span>Analysis</span></p>
                </div>
                <div>
                    <article class="uk-article">
                        <h5 class="uk-margin-remove-bottom">
                            <a href="#">Will AUD/USD Hit 0.8000 In The Foreseeable Future?</a>
                        </h5>
                        <p class="uk-text-small uk-text-muted uk-margin-top">
                            By <a href="#">JFD Team</a>
                            <span class="uk-margin-small-left uk-margin-small-right">•</span>
                            Jan 4, 2021
                        </p>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit ...</p>
                        <a class="uk-button uk-button-text uk-margin-top" href="#">Read more<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                    </article>
                </div>
            </div>
            <div class="uk-flex uk-flex-left uk-visible@m">
                <div class="in-liquid-category">
                    <p class="uk-text-small uk-text-uppercase"><span>Education</span></p>
                </div>
                <div>
                    <article class="uk-article">
                        <h5 class="uk-margin-remove-bottom">
                            <a href="#">How Can You Use Volatility to Your Advantage</a>
                        </h5>
                        <p class="uk-text-small uk-text-muted uk-margin-top">
                            By <a href="#">Barry Norman</a>
                            <span class="uk-margin-small-left uk-margin-small-right">•</span>
                            Dec 16, 2020
                        </p>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit ...</p>
                        <a class="uk-button uk-button-text uk-margin-top" href="#">Read more<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                    </article>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-5-6@m uk-inline">
                <div class="uk-grid-medium uk-child-width-1-3@s uk-child-width-1-4@m uk-text-center uk-margin-medium-top" data-uk-grid>
                    <div>
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-award.svg" alt="wave-award" width="71" height="58" data-uk-img>
                        <h6 class="uk-margin-small-top uk-margin-remove-bottom">Best CFD Broker</h6>
                        <p class="uk-text-small uk-margin-remove-top">TradeON Summit 2020</p>
                    </div>
                    <div>
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-award.svg" alt="wave-award" width="71" height="58" data-uk-img>
                        <h6 class="uk-margin-small-top uk-margin-remove-bottom">Best Execution Broker</h6>
                        <p class="uk-text-small uk-margin-remove-top">Forex EXPO Dubai 2020</p>
                    </div>
                    <div>
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-award.svg" alt="wave-award" width="71" height="58" data-uk-img>
                        <h6 class="uk-margin-small-top uk-margin-remove-bottom">Best Trading Platform</h6>
                        <p class="uk-text-small uk-margin-remove-top">London Summit 2020</p>
                    </div>
                    <div class="uk-visible@m">
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-award.svg" alt="wave-award" width="71" height="58" data-uk-img>
                        <h6 class="uk-margin-small-top uk-margin-remove-bottom">Best Broker Asia</h6>
                        <p class="uk-text-small uk-margin-remove-top">iFX EXPO 2020</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
