<!-- section content begin -->
<div class="uk-section uk-section-secondary in-liquid-1">
    <div class="uk-container uk-light">
        <div class="uk-grid uk-flex uk-flex-middle">
            <div class="uk-width-1-2@m">
                <h2>Save time. Get <span class="in-highlight">higher return</span>. Multiply wealth.</h2>
            </div>
            <div class="uk-width-1-2@m">
                <a class="uk-button uk-button-default uk-border-rounded uk-align-right@m" href="#">Find out more<i class="fas fa-angle-right uk-margin-small-left"></i></a>
            </div>
        </div>
        <div class="uk-child-width-1-3@m" data-uk-grid>
            <div>
                <div class="uk-card uk-card-secondary uk-border-rounded uk-cover-container">
                    <div class="uk-card-media-top">
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-object-1.svg" alt="sample-image" data-width data-height data-uk-img>
                    </div>
                    <div class="uk-card-body">
                        <h3>Various assets</h3>
                        <p>Duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-border-rounded uk-cover-container">
                    <div class="uk-card-media-top">
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-object-2.svg" alt="sample-image" data-width data-height data-uk-img>
                    </div>
                    <div class="uk-card-body">
                        <h3>Market analysis</h3>
                        <p>Duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-border-rounded uk-cover-container">
                    <div class="uk-card-media-top">
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-object-3.svg" alt="sample-image" data-width data-height data-uk-img>
                    </div>
                    <div class="uk-card-body">
                        <h3>Enhanced tools</h3>
                        <p>Duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
