<div class="uk-child-width-1-2@m in-blog-1" data-uk-grid>
    <div class="uk-width-1-1">
        <article class="uk-card uk-card-default uk-border-rounded">
            <div class="uk-card-media-top">
                <img src="{{root}}img/in-blog-image-10.jpg" alt="sample-image">
            </div>
            <div class="uk-card-body">
                <h3>
                    <a href="{{root}}blog-article.html">Here’s what is driving GM’s reported plans to develop a commercial electric van</a>
                </h3>
                <p>GM’s electric offensive to bring at least 20 new EVs to market by 2023 reportedly includes a commercial van. Reuters reported Thursday that the company is ...
                </p>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-margin-small-right">
                        <img class="uk-border-pill uk-background-muted" src="{{root}}img/in-team-5.png" alt="image-team" width="24" height="24">
                    </div>
                    <div>
                        <p class="uk-text-small uk-text-muted uk-margin-remove-bottom">
                            <a href="#">Jeffrey Reyes</a>
                            <span class="uk-margin-small-left uk-margin-small-right">•</span>
                            May 21, 2020
                        </p>
                    </div>
                </div>
            </div>
            <div class="uk-card-footer uk-clearfix">
                <div class="uk-float-left">
                    <a href="#"><span class="uk-label uk-label-success uk-text-small uk-border-pill">Automotive</span></a>
                </div>
                <div class="uk-float-right">
                    <a href="{{root}}blog-article.html" class="uk-button uk-button-text">Read more<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                </div>
            </div>
        </article>
    </div>
    <div>
        <article class="uk-card uk-card-default uk-border-rounded">
            <div class="uk-card-body">
                <h3>
                    <a href="{{root}}blog-article.html">Sony buys $400m stake in China’s Bilibili</a>
                </h3>
                <p>After a series of previous projects together, Sony has secured a ...</p>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-margin-small-right">
                        <img class="uk-border-pill uk-background-muted" src="{{root}}img/in-team-2.png" alt="image-team" width="24" height="24">
                    </div>
                    <div>
                        <p class="uk-text-small uk-text-muted uk-margin-remove-bottom">
                            <a href="#">Arthur Parker</a>
                            <span class="uk-margin-small-left uk-margin-small-right">•</span>
                            May 14, 2020
                        </p>
                    </div>
                </div>
            </div>
            <div class="uk-card-footer uk-clearfix">
                <div class="uk-float-left">
                    <a href="#"><span class="uk-label uk-label-success uk-text-small uk-border-pill">Investments</span></a>
                </div>
                <div class="uk-float-right">
                    <a href="{{root}}blog-article.html" class="uk-button uk-button-text">Read more<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                </div>
            </div>
        </article>
    </div>
    <div>
        <article class="uk-card uk-card-default uk-border-rounded">
            <div class="uk-card-body">
                <h3>
                    <a href="{{root}}blog-article.html">50 rising startups in Southeast Asia</a>
                </h3>
                <p>Which are the startups that are on the path to becoming the next ...</p>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-margin-small-right">
                        <img class="uk-border-pill uk-background-muted" src="{{root}}img/in-team-9.png" alt="image-team" width="24" height="24">
                    </div>
                    <div>
                        <p class="uk-text-small uk-text-muted uk-margin-remove-bottom">
                            <a href="#">Raymond Patel</a>
                            <span class="uk-margin-small-left uk-margin-small-right">•</span>
                            April 26, 2020
                        </p>
                    </div>
                </div>
            </div>
            <div class="uk-card-footer uk-clearfix">
                <div class="uk-float-left">
                    <a href="#"><span class="uk-label uk-label-success uk-text-small uk-border-pill">Startups</span></a>
                </div>
                <div class="uk-float-right">
                    <a href="{{root}}blog-article.html" class="uk-button uk-button-text">Read more<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                </div>
            </div>
        </article>
    </div>
    <div>
        <article class="uk-card uk-card-default uk-border-rounded">
            <div class="uk-card-body">
                <h3>
                    <a href="{{root}}blog-article.html">Grab names new chief financial officer</a>
                </h3>
                <p>Ride-hailing giant Grab announced it has appointed corporate ...</p>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-margin-small-right">
                        <img class="uk-border-pill uk-background-muted" src="{{root}}img/in-team-3.png" alt="image-team" width="24" height="24">
                    </div>
                    <div>
                        <p class="uk-text-small uk-text-muted uk-margin-remove-bottom">
                            <a href="#">Evelyn Mason</a>
                            <span class="uk-margin-small-left uk-margin-small-right">•</span>
                            April 13, 2020
                        </p>
                    </div>
                </div>
            </div>
            <div class="uk-card-footer uk-clearfix">
                <div class="uk-float-left">
                    <a href="#"><span class="uk-label uk-label-success uk-text-small uk-border-pill">Startups</span></a>
                </div>
                <div class="uk-float-right">
                    <a href="{{root}}blog-article.html" class="uk-button uk-button-text">Read more<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                </div>
            </div>
        </article>
    </div>
    <div>
        <article class="uk-card uk-card-default uk-border-rounded">
            <div class="uk-card-body">
                <h3>
                    <a href="{{root}}blog-article.html">Monaco launches now tourism campaign</a>
                </h3>
                <p>With more than three billion people around the world under ...</p>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-margin-small-right">
                        <img class="uk-border-pill uk-background-muted" src="{{root}}img/in-team-8.png" alt="image-team" width="24" height="24">
                    </div>
                    <div>
                        <p class="uk-text-small uk-text-muted uk-margin-remove-bottom">
                            <a href="#">Timothy Watkins</a>
                            <span class="uk-margin-small-left uk-margin-small-right">•</span>
                            April 7, 2020
                        </p>
                    </div>
                </div>
            </div>
            <div class="uk-card-footer uk-clearfix">
                <div class="uk-float-left">
                    <a href="#"><span class="uk-label uk-label-success uk-text-small uk-border-pill">Travels</span></a>
                </div>
                <div class="uk-float-right">
                    <a href="{{root}}blog-article.html" class="uk-button uk-button-text">Read more<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                </div>
            </div>
        </article>
    </div>
</div>
