<div class="uk-section uk-padding-remove-vertical in-slideshow-features uk-visible@m">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-5-6@m">
                <div class="uk-grid uk-child-width-1-6@m uk-text-center" data-uk-grid>
                    <div class="uk-width-1-1">
                        <p class="uk-text-lead">1700+ market. Countless opportunities.</p>
                    </div>
                    <div class="slide-icons-1">
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-5.svg" alt="sample-icon" width="48" height="48" data-uk-img>
                        <a class="uk-button uk-button-text uk-align-center" href="#">Forex<i class="fas fa-angle-right uk-margin-small-left"></i></a>
                    </div>
                    <div class="slide-icons-1">
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-6.svg" alt="sample-icon" width="48" height="48" data-uk-img>
                        <a class="uk-button uk-button-text uk-align-center" href="#">Indices<i class="fas fa-angle-right uk-margin-small-left"></i></a>
                    </div>
                    <div class="slide-icons-1">
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-7.svg" alt="sample-icon" width="48" height="48" data-uk-img>
                        <a class="uk-button uk-button-text uk-align-center" href="#">Crypto<i class="fas fa-angle-right uk-margin-small-left"></i></a>
                    </div>
                    <div class="slide-icons-1">
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-8.svg" alt="sample-icon" width="48" height="48" data-uk-img>
                        <a class="uk-button uk-button-text uk-align-center" href="#">Shares<i class="fas fa-angle-right uk-margin-small-left"></i></a>
                    </div>
                    <div class="slide-icons-1">
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-9.svg" alt="sample-icon" width="48" height="48" data-uk-img>
                        <a class="uk-button uk-button-text uk-align-center" href="#">Commodities<i class="fas fa-angle-right uk-margin-small-left"></i></a>
                    </div>
                    <div class="slide-icons-1">
                        <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-10.svg" alt="sample-icon" width="48" height="48" data-uk-img>
                        <a class="uk-button uk-button-text uk-align-center" href="#">All Markets<i class="fas fa-angle-right uk-margin-small-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
