<div class="uk-section uk-padding-remove-vertical in-slideshow-features uk-visible@m">
    <div class="uk-container">
        <div class="uk-grid-large uk-child-width-1-3@m slide-icons-2" data-uk-grid>
            <div class="uk-flex uk-flex-left">
                <div class="uk-margin-right">
                    <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-19.svg" alt="sample-icon" width="124" height="124" data-uk-img>
                </div>
                <div>
                    <h5 class="uk-margin-remove">Lowest cost</h5>
                    <p class="uk-margin-small-top">Maxime placeat possimus omnis voluptas assumenda.</p>
                </div>
            </div>
            <div class="uk-flex uk-flex-left">
                <div class="uk-margin-right">
                    <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-20.svg" alt="sample-icon" width="124" height="124" data-uk-img>
                </div>
                <div>
                    <h5 class="uk-margin-remove">Global access</h5>
                    <p class="uk-margin-small-top">Maxime placeat possimus omnis voluptas assumenda.</p>
                </div>
            </div>
            <div class="uk-flex uk-flex-left">
                <div class="uk-margin-right">
                    <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-21.svg" alt="sample-icon" width="124" height="124" data-uk-img>
                </div>
                <div>
                    <h5 class="uk-margin-remove">Premier technology</h5>
                    <p class="uk-margin-small-top">Maxime placeat possimus omnis voluptas assumenda.</p>
                </div>
            </div>
        </div>
    </div>
</div>
