<div class="uk-section uk-padding-remove-vertical in-slideshow-features uk-visible@m">
    <div class="uk-container">
        <ul class="uk-grid uk-child-width-1-5@m uk-text-center" data-uk-grid>
            <li>
                <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-fxbtc.svg" alt="ticker-image" width="63" height="38" data-uk-img>
                <span class="uk-label uk-label-danger uk-margin-left"><i class="fas fa-caret-down"></i>2901.77</span>
            </li>
            <li>
                <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-fxeur.svg" alt="ticker-image" width="63" height="38" data-uk-img>
                <span class="uk-label uk-label-success uk-margin-left"><i class="fas fa-caret-up"></i>1.21603</span>
            </li>
            <li>
                <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-fxaud.svg" alt="ticker-image" width="63" height="38" data-uk-img>
                <span class="uk-label uk-label-success uk-margin-left"><i class="fas fa-caret-up"></i>0.77762</span>
            </li>
            <li>
                <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-fxjpy.svg" alt="ticker-image" width="63" height="38" data-uk-img>
                <span class="uk-label uk-label-danger uk-margin-left"><i class="fas fa-caret-down"></i>103.440</span>
            </li>
            <li>
                <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-fxcad.svg" alt="ticker-image" width="63" height="38" data-uk-img>
                <span class="uk-label uk-label-success uk-margin-left"><i class="fas fa-caret-up"></i>1.26175</span>
            </li>
        </ul>
    </div>
</div>
