<!-- section content begin -->
<div class="uk-section in-liquid-13">
    <div class="uk-container">
        <div class="uk-grid-large uk-child-width-1-2@m" data-uk-grid>
            <div>
                <span class="uk-label in-liquid-label uk-margin-bottom">Why choose Liquid</span>
                <h2 class="uk-margin-remove">Low spread on more<br>than 240 instruments.</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo quis nostrum exercitationem.</p>
                <ul class="uk-subnav uk-subnav-divider uk-margin-medium-top uk-text-small" data-uk-margin>
                    <li><i class="fas fa-money-bill-wave uk-margin-small-right"></i>Competitive pricing</li>
                    <li><i class="fas fa-shapes uk-margin-small-right"></i>Trading flexibility</li>
                    <li><i class="fas fa-award uk-margin-small-right"></i>Winning platform</li>
                </ul>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-border-rounded uk-box-shadow-medium">
                    <div class="uk-card-body">
                        <table class="uk-table uk-table-striped">
                            <thead>
                                <tr>
                                    <th>Instrument</th>
                                    <th>Bid</th>
                                    <th>Ask</th>
                                    <th class="uk-visible@s">Spread</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img class="uk-margin-small-right" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-fxeur.svg" alt="fx-flag" width="29" height="17" data-uk-img><span class="in-pairname">EURUSD</span></td>
                                    <td><span class="uk-label uk-label-danger uk-border-pill">1.09554</span></td>
                                    <td><span class="uk-label uk-label-danger uk-border-pill">1.09555</span></td>
                                    <td class="uk-visible@s">0.1</td>
                                </tr>
                                <tr>
                                    <td><img class="uk-margin-small-right" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-fxaud.svg" alt="fx-flag" width="29" height="17" data-uk-img><span class="in-pairname">AUDUSD</span></td>
                                    <td><span class="uk-label uk-label-danger uk-border-pill">0.67017</span></td>
                                    <td><span class="uk-label uk-label-success uk-border-pill">0.67019</span></td>
                                    <td class="uk-visible@s">0.2</td>
                                </tr>
                                <tr>
                                    <td><img class="uk-margin-small-right" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-fxjpy.svg" alt="fx-flag" width="29" height="17" data-uk-img><span class="in-pairname">USDJPY</span></td>
                                    <td><span class="uk-label uk-label-success uk-border-pill">109.792</span></td>
                                    <td><span class="uk-label uk-label-danger uk-border-pill">109.793</span></td>
                                    <td class="uk-visible@s">0.0</td>
                                </tr>
                                <tr>
                                    <td><img class="uk-margin-small-right" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-fxcad.svg" alt="fx-flag" width="29" height="17" data-uk-img><span class="in-pairname">USDCAD</span></td>
                                    <td><span class="uk-label uk-label-success uk-border-pill">1.32900</span></td>
                                    <td><span class="uk-label uk-label-success uk-border-pill">1.32909</span></td>
                                    <td class="uk-visible@s">0.3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="uk-text-small uk-text-center">Check your platform for the most up to date prices.</p>
            </div>
        </div>
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-5-6@m uk-margin-medium-top">
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded in-app-style">
                    <div class="uk-grid-collapse uk-flex uk-flex-middle" data-uk-grid>
                        <div class="uk-width-expand@m">
                            <h4 class="uk-margin-remove">Enhance your trading experience</h4>
                            <p class="uk-text-muted uk-margin-remove">with Liquid mobile app.</p>
                        </div>
                        <div class="uk-width-1-1 uk-width-3-5@m uk-inline">
                            <div class="uk-position-bottom">
                                <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-13-mockup.png" alt="sample-images" width="226" height="172" data-uk-img>
                            </div>
                            <div class="uk-align-right@m">
                                <a href="#" class="uk-button in-button-app">
                                    <i class="fab fa-google-play"></i>
                                    <span class="wrapper">Get it on<span>Play Store</span></span>
                                </a>
                                <a href="#" class="uk-button in-button-app uk-margin-small-left">
                                    <i class="fab fa-apple"></i>
                                    <span class="wrapper">Get it on<span>App Store</span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
