<!-- section content begin -->
<div class="uk-section in-liquid-2">
    <div class="uk-container">
        <div class="uk-grid-large uk-child-width-1-2@m" data-uk-grid>
            <div class="uk-flex uk-flex-left">
                <div class="uk-margin-right">
                    <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-1.svg" alt="sample-icon" width="128" height="128" data-uk-img>
                </div>
                <div>
                    <h3>Expert service</h3>
                    <p>Quis autem vel eum iure reprehenderit qui in voluptate velit esse quam nihil molestiae consequatur.</p>
                    <a class="uk-button uk-button-text" href="#">Learn more<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                </div>
            </div>
            <div class="uk-flex uk-flex-left">
                <div class="uk-margin-right">
                    <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-2.svg" alt="sample-icon" width="128" height="128" data-uk-img>
                </div>
                <div>
                    <h3>Fully regulated</h3>
                    <p>Quis autem vel eum iure reprehenderit qui in voluptate velit esse quam nihil molestiae consequatur.</p>
                    <a class="uk-button uk-button-text" href="#">Learn more<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                </div>
            </div>
            <div class="uk-flex uk-flex-left">
                <div class="uk-margin-right">
                    <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-3.svg" alt="sample-icon" width="128" height="128" data-uk-img>
                </div>
                <div>
                    <h3>Financial strength</h3>
                    <p>Quis autem vel eum iure reprehenderit qui in voluptate velit esse quam nihil molestiae consequatur.</p>
                    <a class="uk-button uk-button-text" href="#">Learn more<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                </div>
            </div>
            <div class="uk-flex uk-flex-left">
                <div class="uk-margin-right">
                    <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-icon-4.svg" alt="sample-icon" width="128" height="128" data-uk-img>
                </div>
                <div>
                    <h3>Integrated support</h3>
                    <p>Quis autem vel eum iure reprehenderit qui in voluptate velit esse quam nihil molestiae consequatur.</p>
                    <a class="uk-button uk-button-text" href="#">Learn more<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-5-6@m uk-margin-medium-top">
                <div class="uk-card uk-card-default uk-card-body uk-background-contain uk-background-top-left" style="background-image: url({{root}}img/in-liquid-card-bg.png);" data-uk-img>
                    <div class="uk-grid uk-child-width-1-3@s uk-child-width-1-3@m uk-text-center" data-uk-grid>
                        <div class="uk-width-1-1">
                            <h4><span>Simple steps to start trade.</span></h4>
                        </div>
                        <div>
                            <span class="in-icon-wrap circle">1</span>
                            <p>Register account</p>
                        </div>
                        <div>
                            <span class="in-icon-wrap circle">2</span>
                            <p>Fund your account</p>
                        </div>
                        <div>
                            <span class="in-icon-wrap circle">3</span>
                            <p>Start your trade</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
