<!-- section content begin -->
<div class="uk-section uk-section-muted in-liquid-5 uk-background-contain uk-background-top-center in-offset-bottom-40" style="background-image: url({{root}}img/in-liquid-5-bg.png);">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-5-6@m">
                <div class="uk-text-center">
                    <h4>Payment methods.</h4>
                </div>
                <div class="uk-grid-collapse uk-child-width-1-2@s uk-child-width-1-6@m uk-text-center uk-margin-medium in-client-logo-6" data-uk-grid>
                    <div class="uk-tile">
                        <img class="uk-margin-remove" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-payment-1.svg" alt="payment-image" width="167" height="55" data-uk-img>
                    </div>
                    <div class="uk-tile">
                        <img class="uk-margin-remove" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-payment-2.svg" alt="payment-image" width="167" height="55" data-uk-img>
                    </div>
                    <div class="uk-tile">
                        <img class="uk-margin-remove" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-payment-3.svg" alt="payment-image" width="167" height="55" data-uk-img>
                    </div>
                    <div class="uk-tile">
                        <img class="uk-margin-remove" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-payment-4.svg" alt="payment-image" width="167" height="55" data-uk-img>
                    </div>
                    <div class="uk-tile">
                        <img class="uk-margin-remove" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-payment-5.svg" alt="payment-image" width="167" height="55" data-uk-img>
                    </div>
                    <div class="uk-tile">
                        <img class="uk-margin-remove" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-payment-6.svg" alt="payment-image" width="167" height="55" data-uk-img>
                    </div>
                </div>
                <div class="uk-text-center uk-text-small in-border-text">
                    <p><span>Don't see a payment methods that works for you?<br class="uk-hidden@m"> We have other options.<br class="uk-hidden@m"> <a class="uk-button uk-button-small uk-button-primary uk-border-rounded uk-margin-left" href="#">More options<i class="fas fa-angle-right uk-margin-small-left"></i></a></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
