<!-- section content begin -->
<div class="uk-section in-liquid-15 in-offset-top-20 uk-background-contain uk-background-bottom-center" data-src="{{root}}img/in-liquid-15-bg.png" data-uk-img>
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-5-6@m">
                <div class="uk-text-center">
                    <h2 class="uk-margin-remove">Market analysis and trade inspiration.</h2>
                    <p class="uk-text-lead uk-text-muted uk-margin-small-top">Get news, commentary and actionable trade ideas from the expert analysts.</p>
                </div>
                <div class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-4@m uk-margin-medium-top" data-uk-grid>
                    <div class="uk-width-1-2@s">
                        <div class="uk-inline-clip">
                            <a href="#">
                                <img class="uk-border-rounded" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-15-image-1.jpg" alt="sample-image" data-width data-height data-uk-img>
                                <div class="uk-position-bottom uk-overlay uk-overlay-primary">
                                    <h4 class="uk-margin-remove">News and inspiration</h4>
                                    <p class="uk-margin-remove uk-text-muted">Economic news and prospect</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <div class="uk-inline-clip">
                            <a href="#">
                                <img class="uk-border-rounded" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-15-image-2.jpg" alt="sample-image" data-width data-height data-uk-img>
                                <div class="uk-position-bottom uk-overlay uk-overlay-primary">
                                    <h4 class="uk-margin-remove">Insight from experts</h4>
                                    <p class="uk-margin-remove uk-text-muted">Plan and trading strategy</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-secondary uk-card-body uk-border-rounded">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-small-right">
                                    <i class="in-icon-wrap circle small green">EQ</i>
                                </div>
                                <div>
                                    <h6 class="uk-margin-remove">Stocks</h6>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit adipiscing elit, sed do eiusmod tempor.</p>
                            <a href="#" class="uk-button uk-button-text uk-margin-small-top">Read more<i class="fas fa-angle-right uk-margin-small-left"></i></a>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-secondary uk-card-body uk-border-rounded">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-small-right">
                                    <i class="in-icon-wrap circle small red">CFD</i>
                                </div>
                                <div>
                                    <h6 class="uk-margin-remove">CFDs</h6>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit adipiscing elit, sed do eiusmod tempor.</p>
                            <a href="#" class="uk-button uk-button-text uk-margin-small-top">Read more<i class="fas fa-angle-right uk-margin-small-left"></i></a>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-secondary uk-card-body uk-border-rounded">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-small-right">
                                    <i class="in-icon-wrap circle small blue">FX</i>
                                </div>
                                <div>
                                    <h6 class="uk-margin-remove">Forex</h6>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit adipiscing elit, sed do eiusmod tempor.</p>
                            <a href="#" class="uk-button uk-button-text uk-margin-small-top">Read more<i class="fas fa-angle-right uk-margin-small-left"></i></a>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-secondary uk-card-body uk-border-rounded">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-small-right">
                                    <i class="in-icon-wrap circle small grey">BO</i>
                                </div>
                                <div>
                                    <h6 class="uk-margin-remove">Bonds</h6>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit adipiscing elit, sed do eiusmod tempor.</p>
                            <a href="#" class="uk-button uk-button-text uk-margin-small-top">Read more<i class="fas fa-angle-right uk-margin-small-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
